body {
   background-color: rgb(80, 140, 118); 
   margin: 0;
   font-size: 10px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(43, 46, 45);
}

.container {
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #fff;
    border-bottom: 1px solid rgb(219, 97, 36);
}

.quick-link, .technologies {
    justify-items: center;
}


/*Form column styling*/
.subscribe-section {
    border: 2px solid #fff;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

/*.subscribe-section>* {
    flex: 1 1 0;
}*/

.subscribe {
    display: inline-block;
    font-size: 0.6rem;
    border: none;
    border-radius: 5px; 
    padding: 0.5rem 1.5rem;
}

.email { 
    flex: 1 1 0;
}

.btn {
    color: #fff;
    background-color: rgb(219, 97, 36); 
    flex-grow: 1 1 0;
}
/* Form column styling*/

/*codespace-logo styling*/

.logo {
    margin-top: 1.5em;
    width: 10%;
}
/*codespace-logo styling*/