body {
   background-color: rgb(80, 140, 118); 
   font-size: 12px;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(43, 46, 45);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #fff;
}

/*Form column styling*/
.subscribe-section {
    border: 2px solid #fff;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

input{
    font-size: 0.6rem;
    border: none;
    border-radius: 8px;
    padding: 0.3rem 1rem; 
}

button {
    font-size: 0.6rem;
    display: inline-block;
    color: #fff;
    background-color: rgb(219, 97, 36);
    border: none;
    border-radius: 8px; 
    padding: 0.5rem 1.5rem;
}
/* Form column styling*/

/*codespace-logo styling*/
.logo {
    width: 50%;
}
/*codespace-logo styling*/